html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

main {
  margin: auto;
  width: 80%;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}


/* --------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------- */
.grid {
  display: flex;
  flex: 0 1 auto;
  /* defaults to 'row' */
  flex-direction: row;
  flex-wrap: wrap;
  /* defaults to 'flex-start' */
  justify-content: flex-start;
  align-items: flex-start;
}

.grid-col {
  flex: 0 0 auto;
  padding: 0 0.5rem 0.5rem;
  box-sizing: border-box;
}

.grid-col_1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.grid-col_2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.grid-col_3 {
  flex-basis: 25%;
  max-width: 25%;
}

.grid-col_4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.grid-col_5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.grid-col_6 {
  flex-basis: 50%;
  max-width: 50%;
}

.grid-col_7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.grid-col_8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.grid-col_9 {
  flex-basis: 75%;
  max-width: 75%;
}

.grid-col_10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.grid-col_11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.grid-col_12 {
  flex-basis: 100%;
  max-width: 100%;
}